spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/community;
    username: sa
    password:
    driver-class-name: org.h2.Driver
  servlet:
    multipart:
      maxFileSize: 1000MB
      maxRequestSize: 2000MB

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug

server:
  servlet:
    session:
      timeout: 30m
      tracking-modes: cookie

image:
  dir: C:/Users/spa89/Downloads/develop/springCommuProject/file/image/

video:
  dir: C:/Users/spa89/Downloads/develop/springCommuProject/file/video/