<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:replace="~{fragment/header :: menubar}"></header>
<form th:action th:object="${videoPostDTO}" method="post">
    <h3 style="text-align: center;">동영상게시판 글수정화면</h3>
    <table style="text-align: center;width:60%; margin: auto;" border="1">
        <tr th:if="${#fields.hasErrors()}">
            <td th:errors="*{title}"/>
            <td th:errors="*{content}"/>
        </tr>
        <tr>
            <td style="width: 20%">제목</td>
            <td style="width: 50%"><input type="text" th:field="*{title}" placeholder="제목" required></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea rows="20" th:field="*{content}" placeholder="글 내용" required></textarea></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">글수정</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a th:href="@{/videopost/{id} (id=${postId})}">취소</a>
            </td>
        </tr>
    </table>
</form>

</body>
</html>