<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:replace="~{fragment/header :: menubar}"></header>
<div th:object="${videoPostDTO}">
    <h3 style="text-align: center;">동영상 게시글 보기 </h3>
    <table style="text-align: center;width:50%; margin: auto;" border="1">
        <tr>
            <td colspan="2" th:text="*{title}"></td>
        </tr>
        <tr>
            <td th:text="*{user.nickName}"></td>
            <td th:text="*{createdDate}"></td>
        </tr>
        <tr>
            <td height="200em" colspan="2" th:text="*{content}"></td>
        </tr>
        <tr th:each="video : ${videos}">
            <td colspan="2">
                <video th:src="|/videos/${video.getStoreFileName()}|" controls width="400" height="300">비디오없음</video>
            </td>
        </tr>
            <td colspan="2"><a href="/videoposts/0">목록</a></td>
        </tr>
    </table>
    <br/>
    <div style="text-align: center; margin: auto;">
        <a th:if="${videoPostDTO.user.id} == ${loginUserId}" th:href="@{/videopost/{id}/edit (id=${postId})}">수정</a>
        <a th:if="${videoPostDTO.user.id} == ${loginUserId}" th:href="@{/videopost/{id}/delete (id=${postId})}">삭제</a>
        <a th:if="${loginUserLoginId}=='root'" th:href="@{/user/{id}/big (id=${videoPostDTO.user.id})}">3대력 부여</a>
        <a th:if="${loginUserLoginId}=='root'" th:href="@{/videopost/{id}/delete (id=${postId})}">강제삭제</a>
    </div>
</div> <!-- /container -->
</body>
</html>