<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:object="${freePostDTO}">
    <table>
        <tr>
            <td>제목</td>
            <td th:text="*{title}"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td th:text="*{content}"></td>
        </tr>
    </table>
    <br/>
    <a href="/freeposts">목록</a>
    <a th:href="@{/freepost/{id}/edit (id=${postId})}">수정</a>
    <a th:href="@{/freepost/{id}/delete (id=${postId})}">삭제</a>
</div> <!-- /container -->
</body>
</html>