<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="menubar">
    <table style="width:90%;height:100px;margin: auto;" border="1">
        <tr style="text-align:center;font-size: 24px">
            <td style="width:25%"><a href="/"> 삼 대 몇?</a></td>
            <td style="width:20%"><a href="/videoposts/0">3대력 게시판</a></td>
            <td style="width:20%"><a href="/photoposts/0">운동 인증 게시판</a></td>
            <td style="width:20%"><a href="/freeposts/0">자유 게시판</a></td>
        </tr>
    </table>
    <br>
    <br>
</header>
</body>
</html>