<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<side th:fragment="sidebar(nickName, id, ranks)">
    <div>
        <h4 th:text="|로그인: ${nickName} 님 어서오세요|"></h4>
    </div>
    <div>
        <button onclick="location.href='/logout';">로그아웃</button>
        <a th:href="@{/user/{id} (id=${id})}">수정</a>
    </div>
    <div>
        <h3>랭킹</h3>
    </div>
    <div>
        <table>
            <tr th:each="rank : ${ranks}">
                <td th:text="${rank.nickName}"></td>
                <td th:text="${rank.bigThreePower.sum}"></td>
            </tr>
        </table>
    </div>
</side>
</body>
</html>