<!DOCTYPE html>
<html lang="en">
<head>
    <head xmlns:th="http://www.thymeleaf.org">
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body>
<side th:fragment="sidebar(ranks)">
    <div>
        <button onclick="location.href='/login';">로그인</button>
    </div>
    <div>
        <h3>랭킹</h3>
    </div>
    <div>
        <table>
            <tr th:each="rank : ${ranks}">
                <td th:text="${rank.nickName}"></td>
                <td th:text="${rank.bigThreePower.sum}"></td>
            </tr>
        </table>
    </div>
</side>
</body>
</html>