<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action th:object="${userJoinDTO}" method="post">
    <div>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>
        <div>
            <input type="text" th:field="*{loginId}" placeholder="아이디(5~12자)">
            <div th:errors="*{loginId}" />
        </div>
        <div>
            <input type="password" th:field="*{password}" placeholder="패스워드(8~15자)">
            <div th:errors="*{password}" />
        </div>
        <div>
            <input type="text" th:field="*{nickName}" placeholder="닉네임(2~10자)">
            <div th:errors="*{nickName}" />
        </div>
        <div>
            <button type="submit"> 회원가입 </button>
        </div>
    </div>
</form>
</body>
</html>